<!--
  Generated template for the FormDisposisiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Form Disposisi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="take-photo" tappable (click)="funcCamera()">
    <img *ngIf="photo === ''" src="assets/image/add-photo.png" alt="" id="take-img">
    <img *ngIf="photo !== ''" [ngStyle]="{'background-image': 'url(' + photo + ')'}" class="foto-div">
  </div>

  <ion-item>
      <ion-label>Letter From</ion-label>
      <ion-input type="text" [(ngModel)]="mine" disabled></ion-input>
    </ion-item>


  <form [formGroup]="disposisiForm">
    <ion-list>

      <ion-item>
        <ion-label floating>Letter Tracking</ion-label>
        <ion-select formControlName="selectto">
          <ion-option *ngFor="let i of dataDepthRole" value="{{i.idRole}}">{{i.nameRole}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating style="margin-bottom: 20px !important;font-size: 13px;">Letter Number</ion-label>
        <ion-textarea rows="2" formControlName="nodoc" placeholder="XXXXXXX-XXXXXX-2017"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating>Date of the Letter</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" formControlName="receiptDate"></ion-datetime>
      </ion-item>

      <!-- <ion-item>
        <ion-label floating style="margin-bottom: 20px !important;font-size: 13px;">Agenda Number</ion-label>
        <ion-textarea rows="2" formControlName="noAgenda" placeholder="XXXXXXX-XXXXXX-2017"></ion-textarea>
      </ion-item> -->

      <ion-item>
        <ion-label floating style="margin-bottom: 20px !important;font-size: 13px;">Subject</ion-label>
        <ion-textarea rows="4" formControlName="subject" placeholder="Enter Here"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label floating style="margin-bottom: 20px !important;font-size: 13px;">Noted</ion-label>
        <ion-textarea rows="4" formControlName="noted" placeholder="Enter Here" required></ion-textarea>
      </ion-item>

    </ion-list>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="btn-footer-action-page full-btn">
      <ul align="center">
        <button class="btn-tag btn-footer-action-page" color="primary" ion-button full [disabled]="!disposisiForm.valid" (click)="submit($event);">Submit</button>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>