page-detail-tracking {
    .segment{
        background-color: dimgray;
        color: white;
        height: 9%;
        margin-top: 2px;
        padding: 10px 15px;
        margin-bottom: 5px;
      }
}
