// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #808080;
$background-color:  #fff;


// $split-pane-side-max-width: 100px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (

  primary:    #189dae,
  secondary:  #f37249,
  danger:     #ab1500,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
  darkgrey:   #8e9093,
  emerald:    #3498db,
  concrete:   #bdc3c7,
  yellow:     #ffff00,
  black: #000000,
  grey: #808080,
  red: #ed4956,
);

$font-small: 9pt;
$font-medium: 12pt;
$font-large: 14pt;


/*------------------------------------------------------------------------------
                                  GLOBAL CSS
------------------------------------------------------------------------------*/

.border-btm {
  border-bottom: 1px solid #dedede;
}

$spc-color: #F37249;
$act-color:color($colors, primary);
$att-color:color($colors, danger);


//@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
//$font-family-base: "Roboto", sans-serif !default;

$font-size: 0.8em;

$chip-avatar-size: 1px;
$chip-avatar-border-radius:	10%;

$text-input-md-highlight-color: color($colors, light);
$text-input-md-highlight-color-invalid: color($colors, light);
$text-input-md-highlight-color-valid: color($colors, light);

$loading-md-background: transparent;
$loading-md-box-shadow: 0 16px 20px transparent;
$loading-ios-background: transparent;
$loading-ios-box-shadow: 0 16px 20px transparent;
$backdrop-color: color($colors, light);

$alert-md-title-font-size: 16px;
$alert-md-button-background-color:#ecf0f1;
$alert-md-button-background-color-activated:#ecf0f1;
$alert-md-button-border-radius:5px;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/siaphicon";
@import "ionic.ionicons";
