<!--
  Generated template for the PeopleDetailViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detail View</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div>
    <ion-segment [(ngModel)]="tracking" class="ion-segment">
      <ion-segment-button value="status">
        Status
      </ion-segment-button>
      <ion-segment-button value="noted">
        Noted
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tracking">
    <ion-list *ngSwitchCase="'status'">
      <ion-row responsive>
        <ion-col col-12>
          <ion-slides [slidesPerView]="3" #mySlider>
            <div class="mdl-card mdl-shadow--2dp">
              <div class="mdl-card__supporting-text">
                <div class="mdl-stepper-horizontal-alternative">

                  <ion-slide>
                    <h6>{{date1 | relativeTime}}</h6>
                    <div class="mdl-stepper-step active-step">
                      <div class="mdl-stepper-circle">
                        <span>
                          <ion-icon name="information"></ion-icon>
                        </span>
                      </div>
                      <div class="mdl-stepper-title" *ngFor="let datasx of dataTemp">{{datasx.nameRole}}</div>
                      <div class="mdl-stepper-bar-right"></div>
                    </div>
                  </ion-slide>

                  <ion-slide *ngFor="let datas of dynamicData">
                    <h6>{{date1 | relativeTime}}</h6>
                    <div class="mdl-stepper-step active-step">
                      <div class="mdl-stepper-circle">
                        <span>
                          <ion-icon name="information"></ion-icon>
                        </span>
                      </div>
                      <div class="mdl-stepper-title">{{datas}}</div>
                      <div class="mdl-stepper-bar-left"></div>
                      <div class="mdl-stepper-bar-right"></div>
                    </div>
                  </ion-slide>

                  <ion-slide [hidden]="shiwFinish">
                    <h6 style="color: white;">{{date1 | relativeTime}}</h6>
                    <div class="mdl-stepper-step">
                      <div class="mdl-stepper-circle">
                        <span>
                          <ion-icon name="help"></ion-icon>
                        </span>
                      </div>
                      <div class="mdl-stepper-title">Fully Approved</div>
                      <div class="mdl-stepper-bar-left"></div>
                    </div>
                  </ion-slide>

                  <ion-slide [hidden]="showFinish">
                    <h6 style="color: white;">{{date1 | relativeTime}}</h6>
                    <div class="mdl-stepper-step">
                      <div class="mdl-stepper-circle">
                        <span>
                          <ion-icon name="help"></ion-icon>
                        </span>
                      </div>
                      <div class="mdl-stepper-title">Waiting Approval</div>
                      <div class="mdl-stepper-bar-left"></div>
                    </div>
                  </ion-slide>

                </div>
              </div>
            </div>
          </ion-slides>
        </ion-col>
      </ion-row>

      <br/>
      <br/>

      <ion-list>

        <ion-item>
          <ion-label floating style="margin-bottom: 20px !important;font-size: 13px;">Letter Number</ion-label>
          <ion-textarea rows="2" [(ngModel)]="docNo" disabled></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label floating style="margin-bottom: 20px !important;font-size: 13px;">Subject</ion-label>
          <ion-textarea rows="4" [(ngModel)]="docSubject" disabled></ion-textarea>
        </ion-item>

      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col col-6 class="label-bottom">
            Status Disposisi
          </ion-col>
          <ion-col col-1 class="label-bottom">
            :
          </ion-col>

          <ion-col col-5 *ngIf="showFinish == true">
            <ion-chip color="danger">
              <ion-label>{{statusDisposisi}} Disposisi</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col col-5 *ngIf="showFinish == false">
            <ion-chip color="primary">
              <ion-label>{{statusDisposisi}} Disposisi</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-list>

    <ion-list *ngSwitchCase="'noted'">
      <ion-list [hidden]="listNotesView">
        <ion-item *ngFor="let noteds of notes">
          <ion-avatar item-start>
            <img src="assets/image/logo-tangsel.png">
          </ion-avatar>
          <!-- <h2>{{noteds.peopleNotes}}</h2> -->
          <p text-wrap>{{noteds.notesDoc}}</p>
        </ion-item>
      </ion-list>

      <div [hidden]="listNotesShow">
        <p align="center">There's Empty Note's</p>
      </div>
    </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button round full (click)="exit()">Back</button>
  </ion-toolbar>
</ion-footer>